@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 990px;
	margin: 0 auto;
}
#header{
	width: 990px;
	height: 80px;
}
#main{
	width: 990px;
	height: 535px;
	padding: 5px;
	background-color: #f5f5f5;
}
body{
	background-color: #dcdcdc;
}